<html>
    <head>
        <title>Dojo Survey</title>
    </head>
    <body>
      <form action='/result' method='post'>
          Name: <input type='text' name='name'><br><br>
           Dojo Location: <select name='location'>
              <option value = "san jose">San Jose</option>
              <option value = "new york">New York</option>
            </select><br><br>
          Favourite Language: <select name='language'>
              <option value = "python">Python</option>
              <option value = "java">Java</option>
            </select><br><br>
            <textarea name = "comment" rows="5" cols="10"></textarea><br>
          <input type='submit' value='create user'>
      </form>
    </body>
</html>