<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Remove</title>
</head>
<body>
    <p>Are you sure you want to delete the following course?</p>
    <table>
        <tr>
            <td>Name: </td>
            <td>{{data.name}}</td>
        </tr>
        <tr>
            <td>Description: </td>
            <td>{{data.desc}}</td>
        </tr>
    </table>
    <a href='/coursesApp'><button>No</button></a><a href='/coursesApp/destroy/{{data.id}}'><button>Yes! I want to delete this</button></a>
</body>
</html>