<html>
<head>
  <title>Full Friends</title>
</head>
<body>
<!-- we can use the line below to see all of our data in our template -->
 <!-- {{ all_friends }}  -->
<h1>Friends!</h1>
<!-- with all the data we can then construct a more structured output -->
<table border="1px solid black">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Friend Since</th>
        <th></th>
    </tr>
    {% for friend in all_friends: %}
    <tr>
        <td>{{ friend['name'] }}</td>
        <td>{{ friend['age'] }}</td>
        <td>{{ friend['created_at'].strftime('%b' " " '%-d' "th") }}</td>
        <td>{{ friend['created_at'].strftime('%Y') }}</td>
    </tr>
    {% endfor %}
</table>

  <h2>Add a Friend</h2>
  <form action='/friends' method='POST'>
    <label for="name">Name:<input type="text" name="name" id="name"></label>
    <label for="age">Age:<input type="text" name="age" id="age"></label>
    <!-- <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label> -->
    <input type="submit" value="Submit">
  </form>
</body>
</html>