<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random word generator</title>
</head>
<body>
    <p>Random Word (attempt #{{ request.session.counter }})</p>
    <h2>{{ word }}</h2>
    <form action="/wordGEn/process" method='post'>
        {% csrf_token %}
        <input type='submit' value='Generate'>
    </form>
    <br>
    <br>
    <a href='/wordGEn/reset'>Reset</a>
    
</body>
</html>