<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
</head>
<body>
    <div>
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <form method='post' action='/process'>
            <input type='text' name='number'>
            <input type='submit' value='Submit'>
        </form>
        <p>{{comment}}</p>
        {% if play == "play" %}
            <form action='/'>
                <input type='submit' value='Play again!'>
            </form>
        {% endif %}
    </div>
</body>
</html>