<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
</head>
<body>

    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %} 
        {% endif %} 
    {% endwith %}

    <form action='/user/login' method='post'>
        <fieldset>
            <legend>Login</legend>
            <p>Email: <input type='text' name='email'></p>
            <p>Password: <input type='password' name='password'></p>
            <input type='submit' value='Login'>
        </fieldset>
    </form>

    <form action='/user/register' method='post'>
        <fieldset>
            <legend>Registration</legend>
            <p> First_name: <input type='text' name='first_name'></p>
            <p> Last_name: <input type='text' name='last_name'></p>
            <p> Email: <input type='text' name='email'></p>
            <p> Password: <input type='password' name='password'></p>
            <p> Password_Confirmation: <input type='password' name='confirm_password'></p>
            <input type='submit' value='Register'>
        </fieldset>
    </form>

    

</body>
</html>