<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The wall!</title>
</head>
<body>
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
                <h2>{{ message }}</h2>
            {% endfor %} 
        {% endif %} 
    {% endwith %}

    <h2>CodingDojo Wall</h2>
    <p>Welcome {{ firstname }}</p>
    
    <a href=/logoff><buton>Log off</buton></a>

    <form action='/message' method='post'>
        <h3>Post a message</h3>
        <textarea name='message'>
        </textarea><br>
        <input type="submit" value="Post a message">
    </form>

    <ul>
         {% for post in display_this %} 
        <td>{{post.display_post_header}}</td> <br> 
        <form action='/comment' method='post'>
            <h4>Post a comment</h4>
            <textarea name='comment'>
            </textarea><br>
            <input type='hidden' name='hidden_message_id' value={{post.messageIDS}}>
            <input type="submit" value="Post a comment">
        </form>
        <br> <br> 
        

         {% endfor %} 
    </ul>
            







    
</body>
</html>