<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
</head>
<body>
    <form method='post' action='/process'>
        <p>Email: <input type='text' name='email'></p>
        <p>First Name: <input type='text' name='first_name'></p>
        <p>Last Name: <input type='text' name='last_name'></p>
        <p>Password: <input type='text' name='password'></p>
        <p>Confirm Password: <input type='text' name='confirm_password'></p>
        <input type='submit' value='Create User'>
    </form>

    
    
</body>
</html>