<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <title>FirstTweet</title>
</head>
<body>
    Hello
    <div id='placeholder'></div>

    <!-- <script>
        $('#create_post').submit(function(e){
            e.preventDefault()
            console.log('prevent refresh')
            $.ajax({
                url: //,
                method: 'get',
                data: $(this).serialize(),
                success: function(serverResponse){
                    console.log('success function', serverResponse)
                    $('#placeholder').append(serverResponse)
                }
            })
        })


    </script> -->

</body>
</html>