<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display Time</title>
    <style>
        p, div{
            border: 2px solid black;
            display: inline-block;
            padding: 20px;
            margin-left: 30%;
        }
    </style>
</head>
<body>
    <p>The current Time and Date:</p><br>
    <div class="line">{{time}}</div>
    
</body>
</html>